#root {
  width: 100%;
  height: 100%;
  background-color: #15202B;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px blue;
}
.row{
  width: 100%;
  height: 100%;
}
.tweetbox{
  text-align: left;
  border: 1px blue;
}